#   .

    . 
<br>        .
<br>           ,        .

<b> :<b>

 ,              .
    
<b> :<b>
    <br>-  
    <br>-   
    <br>-  
    <br>-

<b> :<b>
- children     
- days_employed      
- dob_years     
- education    
- education_id    
- family_status   
- family_status_id    
- gender   
- income_type   
- debt       
- total_income   
- purpose

###  1.

      .

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21525 non-null  int64

 1   days_employed     19351 non-null  float64

 2   dob_years         21525 non-null  int64

 3   education         21525 non-null  object

 4   education_id      21525 non-null  int64

 5   family_status     21525 non-null  object

 6   family_status_id  21525 non-null  int64

 7   gender            21525 non-null  object

 8   income_type       21525 non-null  object

 9   debt              21525 non-null  int64

 10  total_income      19351 non-null  float64

 11  purpose           21525 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

      'days_employed'  'total_income'.
  10  .

In [2]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,,0,/,0,F,,0,253875.639453,
1,1,-4024.803754,36,,1,/,0,F,,0,112080.014102,
2,0,-5623.422610,33,,1,/,0,M,,0,145885.952297,
3,3,-4124.747207,32,,1,/,0,M,,0,267628.550329,
4,0,340266.072047,53,,1,,1,F,,0,158616.077870,
5,0,-926.185831,27,,0,,1,M,,0,255763.565419,
6,0,-2879.202052,43,,0,/,0,F,,0,240525.971920,
7,0,-152.779569,50,,1,/,0,M,,0,135823.934197,
8,2,-6929.865299,35,,0,,1,F,,0,95856.832424,
9,0,-2188.756445,41,,1,/,0,M,,0,144425.938277,

  'days_employed'     :     .

###  2.1

            'total_income'.

    2174  -  10%   . 
,  ""   ,    ,   .
          .

In [3]:
data[data['total_income'].isna()].head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,,1,,1,M,,0,NaN,
26,0,NaN,41,,1,/,0,M,,0,NaN,
29,0,NaN,63,,1,/,4,F,,0,NaN,
41,0,NaN,50,,1,/,0,F,,0,NaN,
55,0,NaN,54,,1,,1,F,,1,NaN,
65,0,NaN,21,,1,/,4,M,,0,NaN,
67,0,NaN,52,,0,/,0,F,,0,NaN,
72,1,NaN,32,,0,/,0,M,,0,NaN,
82,2,NaN,50,,0,/,0,F,,0,NaN,
83,0,NaN,52,,1,/,0,M,,0,NaN,

    .    ,      .       .

In [4]:
data['total_income'] = data['total_income'].fillna(data['total_income'].median())
data.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21525 non-null  int64

 1   days_employed     19351 non-null  float64

 2   dob_years         21525 non-null  int64

 3   education         21525 non-null  object

 4   education_id      21525 non-null  int64

 5   family_status     21525 non-null  object

 6   family_status_id  21525 non-null  int64

 7   gender            21525 non-null  object

 8   income_type       21525 non-null  object

 9   debt              21525 non-null  int64

 10  total_income      21525 non-null  float64

 11  purpose           21525 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

          :
-         ;
-     ;
-        ;
-             "".

    'total_income' .   'days_employed'     .

###  2.2      .

    'days_employed'         ,        .    ,        (   ).
   :
-   18      ;
-   19  64    ;
-  65       .

In [5]:
def age_group(age):
    """
          age,  :
    - '',  age <= 18 ;
    - '',  age  19  64;
    - ''   65  .
    """
    try:
        if age <= 18:
            return ''
        if age <= 64:
            return ''
        return ''
    except:
        display('  ')

#  

display(age_group(14))
display(age_group('cat'))
display(age_group(99))

''

'  '

None

''

In [6]:
data['age_group'] = data['dob_years'].apply(age_group)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group
0,1,-8437.673028,42,,0,/,0,F,,0,253875.639453,,
1,1,-4024.803754,36,,1,/,0,F,,0,112080.014102,,
2,0,-5623.422610,33,,1,/,0,M,,0,145885.952297,,
3,3,-4124.747207,32,,1,/,0,M,,0,267628.550329,,
4,0,340266.072047,53,,1,,1,F,,0,158616.077870,,

       .

In [7]:
data.groupby('age_group').count()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
age_group,,,,,,,,,,,,
,20525,18442,20525,20525,20525,20525,20525,20525,20525,20525,20525,20525
,101,91,101,101,101,101,101,101,101,101,101,101
,899,818,899,899,899,899,899,899,899,899,899,899

     days_employed    .

In [8]:
display('     "":', data[data['age_group'] == '']['days_employed'].median())
display('     "":', data[data['age_group'] == '']['days_employed'].median())
display('     "":', data[data['age_group'] == '']['days_employed'].median())

'     "":'

-1146.6895862897618

'     "":'

-1277.251538081112

'     "":'

360304.23230829864

      .             .    ,         -       .       'age_group',          .

In [9]:
data['days_employed'] = data['days_employed'].fillna(data['days_employed'].median())
data = data.drop(['age_group'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21525 non-null  int64

 1   days_employed     21525 non-null  float64

 2   dob_years         21525 non-null  int64

 3   education         21525 non-null  object

 4   education_id      21525 non-null  int64

 5   family_status     21525 non-null  object

 6   family_status_id  21525 non-null  int64

 7   gender            21525 non-null  object

 8   income_type       21525 non-null  object

 9   debt              21525 non-null  int64

 10  total_income      21525 non-null  float64

 11  purpose           21525 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

    .

       .

In [10]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

     .     .

In [11]:
data['children'] = data['children'].replace(-1, data['children'].median()).astype(int)
data['children'].unique()

array([ 1,  0,  3,  2,  4, 20,  5])

  ,       .

In [12]:
data[data['children'] == 20]['dob_years']

606      21
720      44
1074     56
2510     59
2941      0
         ..
21008    40
21325    37
21390    53
21404    52
21491    27
Name: dob_years, Length: 76, dtype: int64

     76,   0,4%   .   .
    
        .
      .

In [13]:
data['dob_years'].unique()

array([42, 36, 33, 32, 53, 27, 43, 50, 35, 41, 40, 65, 54, 56, 26, 48, 24,
       21, 57, 67, 28, 63, 62, 47, 34, 68, 25, 31, 30, 20, 49, 37, 45, 61,
       64, 44, 52, 46, 23, 38, 39, 51,  0, 59, 29, 60, 55, 58, 71, 22, 73,
       66, 69, 19, 72, 70, 74, 75])

  ,     .

In [14]:
data[data['dob_years'] == 0]['children'].count()

101

   ,  20,   :       (       ),     (   ,    2 , ).
<br>   , ,      ,           .          .       .

###  2.3.   .

      'total_income'  .

In [15]:
data['total_income'] = data['total_income'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21525 non-null  int64

 1   days_employed     21525 non-null  float64

 2   dob_years         21525 non-null  int64

 3   education         21525 non-null  object

 4   education_id      21525 non-null  int64

 5   family_status     21525 non-null  object

 6   family_status_id  21525 non-null  int64

 7   gender            21525 non-null  object

 8   income_type       21525 non-null  object

 9   debt              21525 non-null  int64

 10  total_income      21525 non-null  int64

 11  purpose           21525 non-null  object

dtypes: float64(1), int64(6), object(5)

memory usage: 2.0+ MB

###  2.4.  .

    .

In [16]:
display(data['education'].unique())
display(data['family_status'].unique())
display(data['gender'].unique())
display(data['income_type'].unique())
display(data['purpose'].unique())

array(['', '', '', '', '',
       ' ', '', '',
       ' ', ' ', '',
       '', ' ', ' ', ' '],
      dtype=object)

array([' / ', ' ', ' / ',
       ' ', '  /  '], dtype=object)

array(['F', 'M', 'XNA'], dtype=object)

array(['', '', '', '',
       '', '', '', ' '],
      dtype=object)

array([' ', ' ',
       ' ', ' ',
       '  ', '', '  ',
       '   ', ' ',
       '  ', '  ',
       '  ', '',
       ' ', '   ',
       '   ',
       '   ',
       '  ', '',
       '   ', '',
       ' ', '   ',
       ' ', '', '',
       '  ', '  ',
       '  ', '  ',
       ' ', '  ',
       ' ', ' ',
       '   ', '  ', ' ',
       '  '], dtype=object)

    'education'   .

In [17]:
data['education'] = data['education'].str.lower()
data['education'].unique()

array(['', '', ' ', '',
       ' '], dtype=object)

     .

In [18]:
data.duplicated().sum()

71

    .

In [19]:
data = data.drop_duplicates().reset_index(drop=True)
data.duplicated().sum()

0

     'education'   .str.lower(),      .       :  'Caps Lock',        .

        (  , ).

     .

###  2.5.    ,   .

  'education_log',       'education'    'education_id'.

In [20]:
education_log = data[['education', 'education_id']]
education_log = education_log.drop_duplicates().reset_index(drop=True)
education_log

             education  education_id
0                            0
1                           1
2                2
3                         3
4                     4

  'family_log',       'family_status'    'family_status_id'.

In [21]:
family_log = data[['family_status', 'family_status_id']]
family_log = family_log.drop_duplicates().reset_index(drop=True)
family_log

           family_status  family_status_id
0         /                  0
1                         1
2          /                  2
3                                3
4    /                   4

     'education'  'family_status',    : education_id  family_status_id.   "",         'education_log'  'family_log'.

In [22]:
data = data.drop(['education', 'family_status'], axis=1)
data.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,0,0,F,,0,253875,
1,1,-4024.803754,36,1,0,F,,0,112080,
2,0,-5623.422610,33,1,0,M,,0,145885,
3,3,-4124.747207,32,1,0,M,,0,267628,
4,0,340266.072047,53,1,1,F,,0,158616,

###  2.6.  .

  'total_income_category'    :
- 030000  'E';
- 3000150000  'D';
- 50001200000  'C';
- 2000011000000  'B';
- 1000001    'A'

 :      .

In [23]:
def total_income_category(total_income):
    try:
        if total_income <= 30000:
            return 'E'
        if total_income <= 50000:
            return 'D'
        if total_income <= 200000:
            return 'C'
        if total_income <= 1000000:
            return 'B'
        return 'A'
    except:
        display('  ')
        
display(total_income_category(15000))
display(total_income_category('4o5000'))
display(total_income_category(100000))
display(total_income_category(500000))
display(total_income_category(2000000))

'E'

'  '

None

'C'

'B'

'A'

 :    .     .

In [24]:
data['total_income_category'] = data['total_income'].apply(total_income_category)
data.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,-8437.673028,42,0,0,F,,0,253875,,B
1,1,-4024.803754,36,1,0,F,,0,112080,,C
2,0,-5623.422610,33,1,0,M,,0,145885,,C
3,3,-4124.747207,32,1,0,M,,0,267628,,B
4,0,340266.072047,53,1,1,F,,0,158616,,C

###  2.7.   .

  'purpose_category',     :
- '  ',
- '  ',
- ' ',
- ' '.

 :      .

In [25]:
def purpose_category(purpose):
    try:
        if '' in purpose:
            return '  '
        if '' in purpose:
            return ' '
        if '' in purpose:
            return ' '
        return '  '
    except:
        display(' ')
    
display(purpose_category(' '))
display(purpose_category(''))
display(purpose_category('  '))
display(purpose_category(' '))

' '

'  '

' '

'  '

 :         .

In [26]:
data['purpose_category'] = data['purpose'].apply(purpose_category)
data.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,-8437.673028,42,0,0,F,,0,253875,,B,
1,1,-4024.803754,36,1,0,F,,0,112080,,C,
2,0,-5623.422610,33,1,0,M,,0,145885,,C,
3,3,-4124.747207,32,1,0,M,,0,267628,,B,
4,0,340266.072047,53,1,1,F,,0,158616,,C,

###   .

#####  1:           ?

In [27]:
#    ,    .
debt_by_children_sum = data.groupby('children')['debt'].sum()

#     .
debt_children_count = data.groupby('children')['debt'].count()

#      .
debt_by_children_sum / debt_children_count *100

children
0      7.525817
1      9.234609
2      9.454191
3      8.181818
4      9.756098
5      0.000000
20    10.526316
Name: debt, dtype: float64

In [28]:
#      :

data.pivot_table(index=['children'], values=['debt'], aggfunc='mean')

              debt
children
0         0.075258
1         0.092346
2         0.094542
3         0.081818
4         0.097561
5         0.000000
20        0.105263

         ,    .

In [29]:
debt_by_children_sum / 21454 * 100

children
0     4.959448
1     2.069544
2     0.904260
3     0.125851
4     0.018645
5     0.000000
20    0.037289
Name: debt, dtype: float64

#####  1:
         ,    .         ,       .

#####  2:           ?

In [30]:
#    ,    .
debt_by_family_status_sum = data.merge(family_log, on='family_status_id', how='left').groupby('family_status')['debt'].sum()

#     .
debt_by_family_status_count = data.merge(family_log, on='family_status_id', how='left').groupby('family_status')['debt'].count()

#      .
debt_by_family_status_sum / debt_by_family_status_count * 100

family_status
  /      9.750890
                 7.112971
 /            6.569343
          9.347145
 /           7.545182
Name: debt, dtype: float64

         ,    .

In [31]:
debt_by_family_status_sum / 21454 *100

family_status
  /      1.277151
                 0.396197
 /            0.293652
          1.808521
 /           4.339517
Name: debt, dtype: float64

#####  2: 
    ,   ,     .  ,    ,       100% .

#####  3:           ?

In [32]:
#    ,    .
debt_by_total_income_category_sum = data.groupby('total_income_category')['debt'].sum()

#     .
debt_by_total_income_category_count = data.groupby('total_income_category')['debt'].count()

#      .
debt_by_total_income_category_sum / debt_by_total_income_category_count * 100

total_income_category
A    8.000000
B    7.062091
C    8.491508
D    6.000000
E    9.090909
Name: debt, dtype: float64

         ,     .

In [33]:
debt_by_total_income_category_sum / 21454 *100

total_income_category
A    0.009322
B    1.659364
C    6.339144
D    0.097884
E    0.009322
Name: debt, dtype: float64

#####  3:
    50000  200000        6%      .

#####  4:          ?

In [34]:
#    ,    .
debt_by_purpose_category_sum = data.groupby('purpose_category')['debt'].sum()

#     .
debt_by_purpose_category_count = data.groupby('purpose_category')['debt'].count()

#      .
debt_by_purpose_category_sum / debt_by_purpose_category_count * 100

purpose_category
        9.359034
      7.233373
        9.220035
           8.003442
Name: debt, dtype: float64

         ,    .

In [35]:
debt_by_purpose_category_sum / 21454 * 100

purpose_category
        1.878438
      3.645008
        1.724620
           0.866971
Name: debt, dtype: float64

#####  4:
,        3%      .    , ,     .

##  :

          ,  :
-          ,    .         ,       .
-     ,   ,     .  ,    ,       100% .
-     50000  200000        6%      .           .
- ,        3%      .    , ,     .